<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute text-uppercase text-primary">Acerca de mí</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="img/about1.jpg" alt="Acerca de mí">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Especialista en garantía en pruebas de software.</h3>
                <p>Ingeniera de Sistemas con más de 10 años de experiencia, especializada en garantizar la calidad y
                    fiabilidad del software mediante la automatización de pruebas. Experta en pruebas funcionales y
                    no funcionales, incluyendo backend, colaboro con equipos multidisciplinarios para optimizar el
                    rendimiento y minimizar errores. Utilizo herramientas como Scrum, Java y Cucumber para
                    automatizar procesos, asegurando entregas eficientes y de alta calidad. Comprometida con ofrecer
                    soluciones innovadoras que impulsen el éxito empresarial a través de un desarrollo de software
                    confiable y de excelencia. </p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2">
                        <h6>Nombre: <span class="text-secondary"> Catalina Silvestre Gutiérrez</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Grado: <span class="text-secondary">Especialista en Gerencía de proyectos e Ingeniera de
                                sistemas</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Experiencia: <span class="text-secondary">+10 Años</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Celular: <span class="text-secondary">+57 3205186903</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Email: <span class="text-secondary">kattha16@gmail.com</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Dirección: <span class="text-secondary">Carrera 1#34-80</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Freelance: <span class="text-secondary">Disponible</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                        <h6>Linkedin: <span class="text-secondary"><a
                                    href='https://www.linkedin.com/in/catalinasilvestre'></ahref>
                                    https://www.linkedin.com/in/catalinasilvestre</a></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
