<!-- Qualification Start -->
<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Educación y Certificaciones</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">Educación</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Diplomado en Proyectos PMI y SCRUM</h5>
                        <p class="mb-2"><strong>Universidad de Cafam</strong> | <small>2023 - 2024</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Especialización en gerencia de proyectos</h5>
                        <p class="mb-2"><strong>Fundación universitaria UNINPAHU</strong> | <small>2018 –
                                2021</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Ingeniería de sistemas</h5>
                        <p class="mb-2"><strong>Fundación Universitaria Los Libertadores</strong> | <small>2013
                                –2018</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Tecnología en análisis y desarrollo de sistemas de
                            información</h5>
                        <p class="mb-2"><strong>Sena</strong> | <small>2011 – 2013</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Tecnología en informática</h5>
                        <p class="mb-2"><strong>Uniminuto</strong> | <small>2008 – 2011</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Técnico laboral en operador de computadores y programas
                        </h5>
                        <p class="mb-2"><strong>Instituto británico</strong> | <small>2007 – 2008</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Certificaciones</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Construcción de bases de datos con MYSQL
                        </h5>
                        <p class="mb-2"><strong>Sena virtual</strong> | <small>2024</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Scrum Foundation Professional </h5>
                        <p class="mb-2"><strong>Certifícate SFPC</strong> | <small>2021</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Aplicación del marco de trabajo scrum para proyectos de
                            desarrollo de software</h5>
                        <p class="mb-2"><strong>Sena virtual</strong> | <small>2023</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Bases de datos generalidades y sistemas de gestión</h5>
                        <p class="mb-2"><strong>Sena virtual</strong> | <small>2020</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Diseño de casos de uso</h5>
                        <p class="mb-2"><strong>Sena virtual</strong> | <small>2020</small></p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute"
                            style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Calidad en el desarrollo de software</h5>
                        <p class="mb-2"><strong>Sena virtual</strong> | <small>2020</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>