<div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Work</h1>
            <h1 class="position-absolute text-uppercase text-primary">Experiencia</h1>
        </div>
        <div class="row">
            <!-- Su Red -->
            <div class="col">
                <div class="service-card">
                    <i class="fa fa-2x fa-laptop-code"></i>
                    <h4>Su Red</h4>
                    <p>Analista Funcional de Pruebas</p>
                    <a href="../components/works/sured.html">Leer más</a>
                </div>
            </div>

            <!-- Ingenian Software -->
            <div class="col">
                <div class="service-card">
                    <i class="fa fa-2x fa-edit"></i>
                    <h4>Ingenian Software</h4>
                    <p>Documentadora - Ingeniera de pruebas</p>
                    <a href="../components/works/ingenian.html">Leer más</a>
                </div>
            </div>

            <!-- MO Tecnologías -->
            <div class="col">
                <div class="service-card">
                    <i class="fa fa-2x fa-search"></i>
                    <h4>MO Tecnologías</h4>
                    <p>Qa Engineer - Qa Manager</p>
                    <a href="../components/works/motec.html">Leer más</a>
                </div>
            </div>

            <!-- Rappi -->
            <div class="col">
                <div class="service-card">
                    <i class="fab fa-2x fa-android"></i>
                    <h4>Rappi</h4>
                    <p>Software Qa Tester</p>
                    <a href="../components/works/rappi.html">Leer más</a>
                </div>
            </div>

            <!-- Prodigious Latin America -->
            <div class="col">
                <div class="service-card">
                    <i class="fab fa-2x fa-apple"></i>
                    <h4>Prodigious Latin America</h4>
                    <p>Senior Functional Qa Analyst</p>
                    <a href="../components/works/prodigious.html">Leer más</a>
                </div>
            </div>

            <!-- Tata Consultancy Services -->
            <div class="col">
                <div class="service-card">
                    <i class="fa fa-2x fa-laptop"></i>
                    <h4>Tata Consultancy Services</h4>
                    <p>Senior Tester</p>
                    <a href="../components/works/tata.html">Leer más</a>
                </div>
            </div>

            <!-- Easy Solutions -->
            <div class="col">
                <div class="service-card">
                    <i class="fa fa-2x fa-laptop-code"></i>
                    <h4>Easy Solutions</h4>
                    <p>Qa Tester</p>
                    <a href="../components/works/easy.html">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
