<!-- Modal HTML -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <h1>ANALISTA FUNCIONAL</h1>
                <h5><strong>Jul. 2024 | Actualidad</strong></h5><br>
                <h3>Funciones destacadas:</h3><br>
                <p><strong>Recolección y documentación de requisitos funcionales.</strong></p>
                <p><strong>Creación de historias de usuario con los requisitos funcionales.</strong></p>
                <p><strong>Ejecución de pruebas de usabilidad y pruebas de aceptación.</strong></p><br>

                <h1>ANALISTA DE PRUEBAS JUNIOR</h1>
                <h5><strong>Ene. 2024 | Jul. 2024</strong></h5><br>
                <h3>Funciones destacadas:</h3><br>
                <p><strong>Creación y ejecución de pruebas funcionales y regresión.</strong></p>
                <p><strong>Creación y ejecución de pruebas de rendimiento, seguridad (a nivel de logs, base de datos en MySQL y configuraciones de las aplicaciones), usabilidad y aceptación.</strong></p>
                <p><strong>Ejecución de pruebas funcionales en dispositivos móviles utilizando CrossBrowsing.</strong></p>
            </div>
        </div>
    </div>
</div>
