<div class="container-fluid py-5" id="contact">
    <div class="container">
        <div class="form-row">
            <!-- Nombre -->
            <div class="control-group col-sm-6">
                <input type="text" class="form-control input-md p-4" name="name" id="name" placeholder="Nombre completo"
                    required pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{3,50}"
                    title="El nombre debe contener entre 3 y 50 caracteres alfabéticos."
                    data-validation-required-message="Por favor ingrese su nombre" />
                <p class="help-block text-danger"></p>
            </div>
            <!-- Correo -->
            <div class="control-group col-sm-6">
                <input type="email" class="form-control input-md p-4" name="email" id="email"
                    placeholder="Correo electrónico" required title="Por favor ingrese un correo electrónico válido."
                    data-validation-required-message="Por favor ingrese su correo" />
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Asunto -->
        <div class="control-group">
            <input type="text" class="form-control input-md p-4" name="asunto" id="subject"
                placeholder="Asunto del mensaje" required minlength="5" maxlength="100"
                title="El asunto debe tener entre 5 y 100 caracteres."
                data-validation-required-message="Por favor ingrese su asunto" />
            <p class="help-block text-danger"></p>
        </div>
        <!-- Mensaje -->
        <div class="control-group">
            <textarea class="form-control input-md py-3 px-4" rows="5" name="mensaje" id="message" placeholder="Mensaje"
                required minlength="10" maxlength="500" title="El mensaje debe tener entre 10 y 500 caracteres."
                data-validation-required-message="Por favor ingrese su mensaje"></textarea>
            <p class="help-block text-danger"></p>
        </div>
        <div>
            <input type="submit" id="submit-button" value="Enviar Mensaje" class="btn btn-outline-primary">
            <br><br>
            <p class="lead-footer">* Nos pondremos en contacto por teléfono y correo electrónico más
                tarde.</p><br>
            <div id="success-message" style="display:none; color: green;">¡Mensaje enviado
                exitosamente!</div>
            <div id="error-message" style="display:none; color: red;">Ocurrió un error al enviar el
                mensaje.</div>
        </div>
    </div>
</div>
</div>